*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  box-sizing: inherit;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 100%; /* this will be 16px on most browsers */
  line-height: 1.5; /* this is a multiple of the font size (1.5 * 16px = 24px) */
}

body {
  margin: 0;
}

article {
  border :1px solid gray;
}

img {
  max-width: 100%;
}

figure {
  margin: 0;
}

.film {
  width: 80%;
  margin: 40px auto;
  position: relative;
  overflow: hidden;
}

.film-poster {
    width: 30%;
    float: left;
    margin: 10px;
    position: relative;
}



.action-watch-later {
    color: red;
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 25px;
}

.action-like {
    position: absolute;
    bottom: 10px;
    right: 10px;
    color: red;
    font-size: 25px;
}
